---
import Counter from "../components/Counter";
import CounterSolid from "../components/CounterSolid";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Asrtro.">
  <main>
    <p class="text-4xl rounded-lg p-8 bg-indigo-300">
      To get started, open theasfdasf directory <code>d/pages</code> in your project.<br
      />
    </p>
    <Counter client:load />
    <CounterSolid client:load />
  </main>
</Layout>
